@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

body {
    font-family: 'Lato', sans-serif;
    /* background-color: black; */
}

.hero {
    height: 962px;
    background: linear-gradient(180deg, rgba(53, 66, 103, 0.00) 0%, #151824 95.04%), url(source/files/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* header {
    position: fixed;
    top: 0;
    z-index: 1; 
    background-color: transparent;
}  */

.navbar {
    padding: 56px 191px 0 189px;
}

.navbar-brand {
    margin-right: 488px;
}

.nav-item {
    margin-right: 82px;
    white-space: nowrap;
}

.nav-link {
    color: #FFF;
    font-size: 18px;
}

section {
    margin: 176px 363px 153px 191px;
    color: #FFF; 
}

section h1 {
    margin-bottom: 22px;
    font-size: 50px;
}

section p {
    font-size: 16px;
}

.oval {
    margin-left: 1px;
    margin-right: 23px;
}

.question-container {
    display: flex;
    margin-top: 59px;
    font-size: 18px;
}

.question-block-left {
    margin-right: 61px;
}

.question-block-right {
    margin-right: 60px;
}

.search-btn {
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
    background-color: #1B7DFF;
    padding: 15px 39px 14px 39px;
}

.search-btn:hover {
    background-color: #1662c4;
}

.container {
    align-items: center;
}

.benefits-section {
    width: 1262px;
    height: 655px;
    margin-top: -223px;
    background-color: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    padding: 93px 100px 111px 100px;
}

h2 {
    color: #102746;
    font-size: 35px;
    font-weight: 500;
}

.benefits-card {
    margin-top: 120px;
}

.benefits-card img {
    margin-bottom: 37px;
}

.benefits-card h5 {
    margin-bottom: 26px;
    color: #000;    
    font-size: 18px;
    font-weight: 500;
}

.benefits-card p {
    margin-bottom: 39px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    width: 317px;
}

.watch-link {
    color: #006DFE;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.arrow {
    margin-left: 26px;
    margin-top: 30px;
}

.arrow-md {
    margin-left: 26px;
}

.watch-link:hover {
    .arrow,
    .arrow-md {
        transform: translateX(20px);
    }
    
}

.benefits-card-container {
    display: flex;
    justify-content: space-between;
}

.get-inspired-section {
    width: 1264px;
    height: 735px;
    margin-top: 131px;
}

.get-inspired-title {
    margin-right: 669px;
}

.line {
    margin-top: -20px;
}

.top-img {
    display: flex;
    margin-bottom: 10px;
}

.img-container {
    position: relative;
}

.img-title-top {
    position: absolute;
    top: 267px;
    left: 29px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

.img-container img {
    filter: brightness(75%);
    margin-right: 10px;
}

.img-container img:hover {
    filter: brightness(50%);
}

.img-container:last-child {
    margin-right: 0;
}

.bottom-img {
    display: flex;
}

.img-title-bottom {
    position: absolute;
    top: 196px;
    left: 32px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

.pref-neigh-section {
    width: 1271px;
    height: 785px;
    margin-top: 180px;
}

.pref-neigh-top {
    display: flex;
    margin-bottom: 100px;
}

.pref-neigh-top img {
    margin-right: 100px;
}

.pref-neigh-info h5 {
    color: #102746;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 85px;
}

.pref-neigh-info p {
    margin-bottom: 58px;
    width: 519px;
}

.pref-neigh-bottom {
    display: flex;
}

.pref-neigh-bottom .pref-neigh-info {
    margin-left: 50px;
    margin-right: 150px;
}

.top-places-section {
    margin-top: 100px;
    width: 1280px;
    height: 1298px;
    margin-bottom: 144px;
}

.top-places-top {
    display: flex;
}

.top-places-section-title {
    margin-bottom: 50px;
}

.top-places-card-body {
    position: relative;
}

.top-places-card-body .card-title {
    position: absolute;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    top: -55px;
    left: 0px;
    background: rgba(21, 24, 36, 0.60);
    width: 400px;
    height: 55px;
    padding: 20px;
}

.top-places-card-text {
    margin-top: 45px;
    width: 391px;
    color: #102746;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.top-places-btn {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    background: #006DFE;
    padding: 12px 19px 11px 19px;
}

.top-places-btn:hover {
    background-color: #1662c4;
}

.top-places-card {
    margin-right: 50px;
}

.top-places-card:last-child {
    margin-right: 0;
}

.card-title {
    display: flex;
}

.card-title .card-title-name {
    width: 150px;
}

.card-title .card-title-info {
    font-size: 16px;
    margin-left: 100px;
} 

.top-places-bottom {
    display: flex;
    margin-top: 60px;
}

video {
    width: 100%;
}

footer {
    height: 370px;
    background: #0E1D28;
    display: flex;
}

footer img {
    margin-top: 119px;
    margin-left: 194px;
}

.footer-lists {
    display: flex;
    margin-top: 119px;
    margin-left: 356px;
}

.footer-list {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    margin-right: 80px;
    width: 150px;
}

.footer-list:last-child {
    margin: 0;
}

.main-li {
    font-size: 18px;
    font-weight: 500;
}

footer a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

footer li a:hover {
    margin-left: 10px;
}

.logo:hover {
    transform: scale(1.1);
}